<div class="container-fluid">
     <div class="row">
          <div class="col-lg-12">
               <div class="py-4">
                    <div class="text-center">
                         <p class="text-white-50">2025 © EduConnect. Design by <a href="" target="_blank" class="text-white-50">TriProg</a> </p>
                    </div>
               </div>
          </div>
     </div>
     <!-- end row -->
</div>
<!-- container-fluid end -->