<div class="container-fluid">
     @*@if (User.Identity.IsAuthenticated)   Partea data cand vor fi implementate cookies*@
     @*@if (Session["Username"] == null)
     {*@

     <div class="row">
          <div class="col-lg-12">
               <div class="footer-cta py-4 mb-4">
                    <div class="row align-items-center">
                         <div class="col-md-8">
                              <div class="cta-content">
                                   <h3 class="text-white mb-2">Cea mai Buna Solutie pentru Studiu</h3>
                                   <p class="text-white-50 mo-mb-20 mb-0">V-a asteptam cu nerabdare in situl nostru.</p>

                              </div>
                         </div>
                         <div class="col-md-4">
                              <div class="text-md-right">
                                   <a href="@Url.Action("Index", "Register")" class="btn btn-purple">Get started now <i class="mdi mdi-arrow-right"></i> </a>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     @*}*@

     <div class="row">
          <div class="col-lg-3">
               <div class="mb-3">
                    <img src="images/logo-light.png" alt="" height="20">
               </div>
               <p class="pt-1 text-white-50">Footer Meniu</p>
               <p class="text-white-50">Aici puteti comod deplasa intre pagini si posibilitatea de a ne contacta</p>
          </div>
          <div class="col-lg-2">
               <h5 class="footer-title text-white mb-3">About</h5>
               <ul class="list-unstyled footer-list">
                    <li><a href="">Home</a></li>
                    <li><a href="">Features</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">FAQ</a></li>
               </ul>
          </div>
          <div class="col-lg-2">
               <h5 class="footer-title text-white mb-3">Social</h5>
               <ul class="list-unstyled footer-list">
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Behance</a></li>
                    <li><a href="">Dribbble</a></li>
               </ul>
          </div>
          <div class="col-lg-2">
               <h5 class="footer-title text-white mb-3">Support</h5>
               <ul class="list-unstyled footer-list">
                    <li><a href="">Help & Support</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Terms & Conditions</a></li>
               </ul>
          </div>
          <div class="col-lg-3">
               <h5 class="footer-title text-white mb-3">Contact</h5>
               <div class="pt-1">
                    <div class="float-left mr-2">
                         <i class="pe-7s-map-marker font-20"></i>
                    </div>
                    <p class="text-white-50 overflow-hidden">Strada Studentilor 9/7, Chisinau</p>
               </div>
               <div>
                    <div class="float-left mr-2">
                         <i class="pe-7s-phone font-20"></i>
                    </div>
                    <p class="text-white-50 overflow-hidden">+373 79 045 835</p>
               </div>
               <div>
                    <div class="float-left mr-2">
                         <i class="pe-7s-mail font-20"></i>
                    </div>
                    <p class="text-white-50 overflow-hidden">maxim.cataraga@isa.utm.md</p>
               </div>
          </div>
     </div>
     <!-- end row -->
     <div class="row">
          <div class="col-lg-12">
               <div class="py-4">
                    <div class="text-center">
                         <p class="text-white-50">2025 © EduConnect. Design by <a href="" target="_blank" class="text-white-50">TriProg</a> </p>
                    </div>
               </div>
          </div>
     </div>
     <!-- end row -->
</div>
<!-- container-fluid end -->