@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About";
}

<section class="page-header-box bg-primary">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h3 class="page-header-title text-white">About us</h3>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="#">Minton</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About</li>
                    </ol>
                </div>
            </div>
        </div> <!--end row-->
    </div> <!--end container-->
</section>
<!-- title end -->

<!-- services start -->
<section class="section bg-light">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="title text-center mb-4">
                    <h3 class="mb-3">Cine suntem</h3>
                    <p class="text-muted">EduConnect este o comunitate educațională dedicată elevilor, studenților și profesorilor care caută sau oferă ajutor la teme și întrebări școlare. Lansată pentru a încuraja învățarea colaborativă, platforma permite utilizatorilor să pună întrebări și să primească răspunsuri de la alți membri ai comunității.</p>

                    <h2 class="mb-3">🎯 Misiunea noastră</h2>
                    <p class="text-muted">
                        La EduForum, credem că fiecare întrebare merită un răspuns clar și fiecare elev merită șansa de a învăța eficient.
                        Misiunea noastră este să oferim un spațiu sigur și colaborativ unde oricine poate pune întrebări și poate primi ajutor de la colegi, profesori sau experți.
                    </p>

                    <h2 class="mb-3">📖 Povestea noastră</h2>
                    <p class="text-muted">
                        EduForum a fost fondat în 2025 de un grup de studenți pasionați de educație și tehnologie. Observând cât de greu era pentru elevi să găsească ajutor rapid și relevant, am creat o platformă care îmbină învățarea colaborativă cu tehnologia modernă.
                    </p>


                </div>
            </div>
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="about-box card">
                    <div class="p-4">
                        <div class="clearfix mb-2">
                            <h4 class="float-left mr-3 text-primary about-index-number mt-0">
                                01</h4>
                            <h5 class="font-18 mt-0 pt-2">Învățare colaborativă</h5>
                        </div>
                        <p class="text-muted mb-0">Elevii și profesorii colaborează în timp real pentru a rezolva întrebări și teme.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="about-box card">
                    <div class="p-4">
                        <div class="clearfix mb-2">
                            <h4 class="float-left mr-3 text-primary about-index-number mt-0">
                                02</h4>
                            <h5 class="font-18 mt-0 pt-2">Conținut moderat</h5>
                        </div>
                        <p class="text-muted mb-0">Toate răspunsurile sunt verificate de moderatori sau experți pentru acuratețe.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="about-box card">
                    <div class="p-4">
                        <div class="clearfix mb-2">
                            <h4 class="float-left mr-3 text-primary about-index-number mt-0">
                                03
                            </h4>
                            <h5 class="font-18 mt-0 pt-2">Ajutor rapid</h5>
                        </div>
                        <p class="text-muted mb-0">Primești răspunsuri în câteva minute de la colegi sau mentori.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="about-box card">
                    <div class="p-4">
                        <div class="clearfix mb-2">
                            <h4 class="float-left mr-3 text-primary about-index-number mt-0">
                                04</h4>
                            <h5 class="font-18 mt-0 pt-2">Accesibil oricând</h5>
                        </div>
                        <p class="text-muted mb-0">Platforma este gratuită și disponibilă 24/7, pe orice dispozitiv.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="about-box card">
                    <div class="p-4">
                        <div class="clearfix mb-2">
                            <h4 class="float-left mr-3 text-primary about-index-number mt-0">
                                05</h4>
                            <h5 class="font-18 mt-0 pt-2">Comunitate activă</h5>
                        </div>
                        <p class="text-muted mb-0">Mii de utilizatori activi contribuie zilnic cu întrebări și răspunsuri.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="about-box card">
                    <div class="p-4">
                        <div class="clearfix mb-2">
                            <h4 class="float-left mr-3 text-primary about-index-number mt-0">
                                06</h4>
                            <h5 class="font-18 mt-0 pt-2">Educație pentru toți</h5>
                        </div>
                        <p class="text-muted mb-0">Sprijinim elevi din toate mediile să învețe în ritmul lor, fără bariere.</p>
                    </div>
                </div>
            </div>


        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</section>
<!-- services end -->
<!-- team start -->
<section class="section">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title text-center mb-4">
                    <i class="pe-7s-users h1 text-primary mb-3"></i>
                    <h3 class="font-22 mb-3">Echipa Noastra</h3>
                    <p class="text-muted">
                        Suntem o echipă de studenți pasionați de educație și tehnologie.
                        Ne-am propus să construim un spațiu în care elevii pot învăța unii de la alții într-un mod accesibil, rapid și colaborativ. Credem că fiecare întrebare merită un răspuns.
                    </p>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="team-box mt-4">
                    <div class="team-box-img">
                        <img src="~/Images/team/img-1.jpg" alt="" class="img-fluid mx-auto d-block">
                    </div>
                    <div class="team-overlay">
                        <div class="team-content text-center">
                            <div class="team-name">
                                <h4 class="mb-1"><a href="#" class="text-white">Cataraga Maxim</a></h4>
                                <p class="text-white">Auth/Register/Courses</p>
                            </div>
                            <div class="social-icon">
                                <a href="#" class="m-1"><i class="mdi mdi-facebook"></i></a>
                                <a href="#" class="m-1"><i class="mdi mdi-twitter"></i></a>
                                <a href="#" class="m-1"><i class="mdi mdi-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end team box -->
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team-box mt-4">
                    <div class="team-box-img">
                        <img src="~/Images/team/img-3.jpg" alt="" class="img-fluid mx-auto d-block">
                    </div>
                    <div class="team-overlay">
                        <div class="team-content text-center">
                            <div class="team-name">
                                <h4 class="mb-1"><a href="#" class="text-white">Buhnă Dorin</a></h4>
                                <p class="text-white">Contact Forum/Logic Manager</p>
                            </div>
                            <div class="social-icon">
                                <a href="#" class="m-1"><i class="mdi mdi-facebook"></i></a>
                                <a href="#" class="m-1"><i class="mdi mdi-twitter"></i></a>
                                <a href="#" class="m-1"><i class="mdi mdi-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end team box -->
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="team-box mt-4">
                    <div class="team-box-img">
                        <img src="~/Images/team/img-3.jpg" alt="" class="img-fluid mx-auto d-block">
                    </div>
                    <div class="team-overlay">
                        <div class="team-content text-center">
                            <div class="team-name">
                                <h4 class="mb-1"><a href="#" class="text-white">Scobici Nichita</a></h4>
                                <p class="text-white">Forum/Categories</p>
                            </div>
                            <div class="social-icon">
                                <a href="#" class="m-1"><i class="mdi mdi-facebook"></i></a>
                                <a href="#" class="m-1"><i class="mdi mdi-twitter"></i></a>
                                <a href="#" class="m-1"><i class="mdi mdi-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end team box -->
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</section>
<section class="mb-5 text-center">
    <h2 class="text-secondary">🚀 Alătură-te comunității EduForum!</h2>
    <p>Indiferent dacă ești elev, student sau profesor, contribuția ta contează.</p>
    <a href="@Url.Action("Index", "Register")" class="btn btn-success btn-lg">Creează un cont</a>
</section>
<!-- team end -->
