
@{
     ViewBag.Title = "Index";
}

<!-- home start -->
<section class="bg-home bg-primary" id="home">
     <div class="container-fluid">
          <div class="row justify-content-center">
               <div class="col-lg-6">
                    <div class="home-content text-center mb-4">
                         <h1 class="home-title mb-4 text-white">EduConnect: forum pentru un studiu eficient</h1>
                         <p class="text-white-50 home-desc mb-4">EduConnect este un site bazat pe ideia unui studiu eficient si comod pentru studenti si invatatori</p>
                         <div>
                              <a href="@Url.Action("Index","Auth")" class="btn btn-light mr-1">Log in</a>
                              <a href="@Url.Action("Index","Register")" class="btn btn-purple">Register</a>
                         </div>
                    </div>
               </div>
          </div>
          <!-- end row -->

          <div class="row justify-content-center">
               <div class="col-lg-7">
                    <div class="home-img">
                         <img src="~/Images/home-img.png" alt="" class="img-fluid mx-auto d-block">
                    </div>
               </div>
          </div>
          <!-- end row -->
     </div>
     <!-- end container-fluid -->
</section>
<!-- home end -->
<!-- services start -->
<section class="section" id="services">
     <div class="container-fluid">
          <div class="row justify-content-center">
               <div class="col-lg-7">
                    <div class="title text-center my-4">
                         <h3 class="mb-3">Scopurile proiectului</h3>
                         <p class="text-muted">De a crea un loc comod de studiu si un mediu bun pentru intrevari si raspunsuri</p>
                    </div>
               </div>
          </div>
          <!-- end row -->
          <div class="row">
               <div class="col-lg-4 col-sm-6">
                    <div class="services-box text-center mt-3 p-3">
                         <div class="services-icon mb-3">
                              <i class="pe-7s-display1 h2 mt-0"></i>
                         </div>
                         <h4>Studiu prin Video</h4>
                         <p class="text-muted">In proiectul dat planuim implementarea prin videuri adaugate de utilizatori si invatatori la diferite teme.</p>
                    </div>
               </div>
               <div class="col-lg-4 col-sm-6">
                    <div class="services-box text-center mt-3 p-3">
                         <div class="services-icon mb-3">
                              <i class="pe-7s-science h2 mt-0"></i>
                         </div>
                         <h4>Design Comod</h4>
                         <p class="text-muted">Un design comod creat cu ideia de a avea un studiu eficient.</p>
                    </div>
               </div>
               <div class="col-lg-4 col-sm-6">
                    <div class="services-box text-center mt-3 p-3">
                         <div class="services-icon mb-3">
                              <i class="pe-7s-phone h2 mt-0"></i>
                         </div>
                         <h4>Adaptat pentru telefoane</h4>
                         <p class="text-muted">Situl de asemenea poate fi accesat prin telefon, pentru studiu in orice conditii.</p>
                    </div>
               </div>

               <div class="col-lg-4 col-sm-6">
                    <div class="services-box text-center mt-3 p-3">
                         <div class="services-icon mb-3">
                              <i class="pe-7s-exapnd2 h2 mt-0"></i>
                         </div>
                         <h4>Solutionarea problemelor</h4>
                         <p class="text-muted">In situl dat aveti posibilitatea de a intreba pe alti studenti, invatatori si utilizatori pentru a raspunde la intrebarile dumneavoastra.</p>
                    </div>
               </div>
               <div class="col-lg-4 col-sm-6">
                    <div class="services-box text-center mt-3 p-3">
                         <div class="services-icon mb-3">
                              <i class="pe-7s-headphones h2 mt-0"></i>
                         </div>
                         <h4>Support Efectiv</h4>
                         <p class="text-muted">Daca depistati ceva probleme grupa noastra rapid va raspunde si rezolva problemele aparute</p>
                    </div>
               </div>
               <div class="col-lg-4 col-sm-6">
                    <div class="services-box text-center mt-3 p-3">
                         <div class="services-icon mb-3">
                              <i class="pe-7s-upload h2 mt-0"></i>
                         </div>
                         <h4>Usor de accesat</h4>
                         <p class="text-muted">Situl dat nu necesita mult unostinte si cu un design evident ajuta sa aveti un studiu rapid si usor.</p>
                    </div>
               </div>

          </div>
          <!-- end row -->
     </div>
     <!-- end container-fluid -->
</section>
<!-- services end -->
<!-- features start -->
<section class="section bg-light" id="features">
     <div class="container-fluid">
          <div class="row justify-content-center">
               <div class="col-lg-6">
                    <div class="title text-center mb-5">
                         <i class="pe-7s-helm h1 text-primary mb-3"></i>
                         <h3 class="font-22 mb-3">Plusurile de baza a proiectului</h3>
                         <p class="text-muted">Cateva plusuri ce ne evidentiaza</p>
                    </div>
               </div>
          </div>
          <!-- end row -->

          <div class="row align-items-center justify-content-center">
               <div class="col-lg-5 col-sm-6">
                    <div>
                         <img src="~/Images/features/img-1.png" alt="" class="img-fluid mx-auto d-block">
                    </div>
               </div>
               <div class="col-lg-5 offset-lg-1">
                    <div class="mb-4">
                         <div class="feature-icon float-left">
                              <i class="pe-7s-notebook text-primary font-24 mr-3"></i>
                         </div>
                         <h4 class="mb-3">Acces gratis</h4>
                         <p class="text-muted">In situl dat tot se posteaza pentru ajutor reciproc si nu pentru profit.</p>

                    </div>
                    <div class="mb-4">
                         <div class="feature-icon float-left">
                              <i class="pe-7s-edit text-primary font-24 mr-3"></i>
                         </div>
                         <h4 class="mb-3">Usor in redacta</h4>
                         <p class="text-muted">Puteti usor redacta programele de studii si de accesa cursurile.</p>

                    </div>
                    <div>
                         <div class="feature-icon float-left">
                              <i class="pe-7s-headphones text-primary font-24 mr-3"></i>
                         </div>
                         <h4 class="mb-3">Supprot Eficient</h4>
                         <p class="text-muted">Avem un supprot bun din utilizatori pentru studiu si ajutor rapid si eficient.</p>

                    </div>
               </div>

          </div>
          <!-- end row -->

          <div class="row align-items-center justify-content-center mt-5 pt-4">

               <div class="col-lg-5 ">
                    <div class="mb-4">
                         <div class="feature-icon float-left">
                              <i class="pe-7s-exapnd2 text-primary  font-24 mr-3"></i>
                         </div>
                         <h4 class="mb-3">Solutionarea problemelor</h4>
                         <p class="text-muted">Rezolvam problemele ce nu le puteti intelege sau rezolva, cu support si cursuri gratuite.</p>

                    </div>
                    <div class="mb-4">
                         <div class="feature-icon float-left">
                              <i class="pe-7s-headphones text-primary  font-24 mr-3"></i>
                         </div>
                         <h5 class="mb-3 font-18">Conectiune intre studenti</h5>
                         <p class="text-muted">Puteti sa va inscrieti si sa studiati impreuna diferite materiale si sa progresati in diferite domenii impreuna.</p>

                    </div>
                    <div>
                         <div class="feature-icon float-left">
                              <i class="pe-7s-edit text-primary  font-24 mr-3"></i>
                         </div>
                         <h5 class="mb-3 font-18">Usor in costomizare</h5>
                         <p class="text-muted">Aveti total control asupra profilului dumneavoastra si cursurile accesate.</p>

                    </div>

               </div>

               <div class="col-lg-5 col-sm-6 offset-lg-1">
                    <div>
                         <img src="~/Images/features/img-2.png" alt="" class="img-fluid mx-auto d-block">
                    </div>
               </div>

          </div>
          <!-- end row -->
     </div>
     <!-- end container-fluid -->
</section>
<!-- features end -->
<!-- counter start -->
<section class="py-5 bg-primary">
     <div class="container-fluid">
          <div class="row" id="counter">
               <div class="col-lg-3 col-sm-6">
                    <div class="counter-box text-center my-2 p-3">
                         <div class="counter-icon text-white-50">
                              <i class="pe-7s-add-user display-4"></i>
                         </div>
                         <div class="counter-content">
                              <h2 class="counter-value text-white mt-0 mb-3" data-count="3">1</h2>
                              <p class="text-white-50 mb-0">Fans</p>
                         </div>
                    </div>
               </div>

               <div class="col-lg-3 col-sm-6">
                    <div class="counter-box text-center my-2 p-3">
                         <div class="counter-icon text-white-50">
                              <i class="pe-7s-cart display-4"></i>
                         </div>
                         <div class="counter-content">
                              <h2 class="counter-value text-white mt-0 mb-3" data-count="19">1</h2>
                              <p class="text-white-50 mb-0">Total Registrati</p>
                         </div>
                    </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                    <div class="counter-box text-center my-2 p-3">
                         <div class="counter-icon text-white-50">
                              <i class="pe-7s-smile display-4"></i>
                         </div>
                         <div class="counter-content">
                              <h2 class="counter-value text-white mt-0 mb-3" data-count="3">1</h2>
                              <p class="text-white-50 mb-0">Studenti Fericiti</p>
                         </div>
                    </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                    <div class="counter-box text-center my-2 p-3">
                         <div class="counter-icon text-white-50">
                              <i class="pe-7s-medal display-4"></i>
                         </div>
                         <div class="counter-content">
                              <h2 class="counter-value text-white mt-0 mb-3" data-count="1">1</h2>
                              <p class="text-white-50 mb-0">Diplome</p>
                         </div>
                    </div>
               </div>

          </div>
     </div>
</section>
<!-- counter end -->
<!-- testimonial start -->
<section class="section bg-light" id="testimonial">
     <div class="container-fluid">
          <div class="row justify-content-center">
               <div class="col-lg-6">
                    <div class="title text-center mb-4">
                         <i class="pe-7s-chat h1 text-primary mb-3"></i>
                         <h3 class="font-22 mb-3">Ce spun utilizatorii</h3>
                         <p class="text-muted">Comentarii de la utilizatori</p>
                    </div>
               </div>
          </div>
          <!-- end row -->

          <div class="row">
               <div class="col-lg-4">
                    <div class="testi-box mt-4">
                         <div class="testi-desc p-4">
                              <p class="text-muted mb-0">" Aici si comentarii se poate de scris! Top Site. "</p>
                         </div>

                         <div class="p-4">
                              <div class="testi-img float-left mr-3">
                                   <img src="~/Images/users/img-1.jpg" alt="" class="rounded-circle avatar-md">
                              </div>
                              <div>
                                   <h4 class="font-16 mb-1">Cataraga Maxiun</h4>
                                   <p class="text-muted mb-2"> <small> - EduConnect Fondator</small></p>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="col-lg-4">
                    <div class="testi-box mt-4">
                         <div class="testi-desc p-4">
                              <p class="text-muted mb-0">" Ooo tare, Tre sa vad asta "</p>
                         </div>

                         <div class="p-4">
                              <div class="testi-img float-left mr-3">
                                   <img src="~/Images/users/img-2.jpg" alt="" class="rounded-circle avatar-md">
                              </div>
                              <div>
                                   <h4 class="font-16 mb-1">Scobici Nichita</h4>
                                   <p class="text-muted mb-2"><small> - EduConnect Fondator</small></p>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="col-lg-4">
                    <div class="testi-box mt-4">
                         <div class="testi-desc p-4">
                              <p class="text-muted mb-0">" Bravo patanilor vati staruit, ciotka arata "</p>
                         </div>

                         <div class="p-4">
                              <div class="testi-img float-left mr-3">
                                   <img src="~/Images/users/img-3.jpg" alt="" class="rounded-circle avatar-md">
                              </div>
                              <div>
                                   <h4 class="font-16 mb-1">Buhna Dorin</h4>
                                   <p class="text-muted mb-2"><small> - EduConnect Fondator</small></p>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <!-- end container-fluid -->
</section>
<!-- testimonial end -->
<!-- faq start -->
<section class="section" id="faq">
     <div class="container-fluid">
          <div class="row justify-content-center">
               <div class="col-lg-6">
                    <div class="title text-center mb-5">
                         <i class="pe-7s-help1 h1 text-primary mb-3"></i>
                         <h3 class="font-22 mb-3">Intrebarile frecvente</h3>
                         <p class="text-muted">Intrebarile ce des ne le dau utilizatorii</p>
                    </div>
               </div>
          </div>
          <!-- end row -->

          <div class="row align-items-center">
               <div class="col-lg-5">
                    <div>
                         <img src="~/Images/faq-img.png" alt="" class="img-fluid mx-auto d-block">
                    </div>
               </div>

               <div class="col-lg-7">
                    <ul class="nav nav-pills faq-nav-tabs nav-justified mb-3" id="pills-tab" role="tablist">
                         <li class="nav-item text-sm-left">
                              <a class="nav-link active" id="pills-general-tab" data-toggle="pill" href="#pills-general" role="tab" aria-controls="pills-general" aria-selected="true">
                                   <div class="clearfix">
                                        <i class="pe-7s-wallet text-purple float-md-right text-md-center h2 m-0"></i>
                                        <h4 class="mr-2 d-none d-sm-inline-block">Intrebarile Generale</h4>
                                   </div>
                              </a>
                         </li>
                         <li class="nav-item text-sm-left">
                              <a class="nav-link" id="pills-pricing-tab" data-toggle="pill" href="#pills-pricing" role="tab" aria-controls="pills-pricing" aria-selected="false">
                                   <div class="clearfix">
                                        <i class="pe-7s-notebook text-purple float-md-right h2 m-0"></i>
                                        <h4 class="mr-2 d-none d-sm-inline-block">Planuri & Altele</h4>
                                   </div>
                              </a>
                         </li>
                    </ul>
                    <div class="tab-content faq-tab-content" id="pills-tabContent">
                         <div class="tab-pane fade show active" id="pills-general" role="tabpanel" aria-labelledby="pills-general-tab">
                              <div class="row">
                                   <div class="col-lg-12">
                                        <div class="p-4">
                                             <div class="faq-box mb-4">
                                                  <div class="faq-question-q-box float-left mr-4">Q.</div>
                                                  <div class="overflow-hidden">
                                                       <h5 class="font-16 mt-0">Ce este situl dat?</h5>
                                                       <p class="text-muted">Situl dat este un forum liber pentru doritori de cunostinta unde sunt si cursuri la diferite tematici de studiu.</p>
                                                  </div>
                                             </div>

                                             <div class="faq-box mb-4">
                                                  <div class="faq-question-q-box float-left mr-4">Q.</div>
                                                  <div class="overflow-hidden">
                                                       <h5 class="font-16 mt-0">De ce este utilizat?</h5>
                                                       <p class="text-muted">Pentru un studiu gratuit si eficient cum si pentru a face cunostinte cu materiale si persoane noi din diferite domenii.</p>
                                                  </div>
                                             </div>

                                             <div class="faq-box">
                                                  <div class="faq-question-q-box float-left mr-4">Q.</div>
                                                  <div class="overflow-hidden">
                                                       <h5 class="font-16 mt-0">Care este scopul nostru?</h5>
                                                       <p class="text-muted">Scopul nostru este de avea un mediu comod si securizat pentru studiu si impartasirea cunostintelor intre oameni de pe tot globul pamantesc.</p>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <!-- end row -->
                         </div>
                         <!-- end tab-pane -->
                         <div class="tab-pane fade" id="pills-pricing" role="tabpanel" aria-labelledby="pills-pricing-tab">
                              <div class="row">
                                   <div class="col-lg-12">
                                        <div class="p-4">
                                             <div class="faq-box mb-4">
                                                  <div class="faq-question-q-box float-left mr-4">Q.</div>
                                                  <div class="overflow-hidden">
                                                       <h5 class="font-16 mt-0">De ce nu este posibil cursuri cu plata?</h5>
                                                       <p class="text-muted">Noi am decis ca este mai efectiv daca toata informatia v-a fi gratuita si eforturile persoanelor vor fi pur voluntare si nu cu scopul de profit.</p>
                                                  </div>
                                             </div>

                                             <div class="faq-box mb-4">
                                                  <div class="faq-question-q-box float-left mr-4">Q.</div>
                                                  <div class="overflow-hidden">
                                                       <h5 class="font-16 mt-0">De unde am startat?</h5>
                                                       <p class="text-muted">Noi neam inspirat cu diferite forumuri si situri pentru cursuri la care nu aveam acces din cauza insuficientii monetare.</p>
                                                  </div>
                                             </div>

                                             <div class="faq-box">
                                                  <div class="faq-question-q-box float-left mr-4">Q.</div>
                                                  <div class="overflow-hidden">
                                                       <h5 class="font-16 mt-0">Ce planuiti in viitor?</h5>
                                                       <p class="text-muted">In viitor planuim dezvoltarea unei aplicatii pentru un studiu si mai eficient si comod, de asemenea si implementarea diferitor idei a utilizatorilor nostri de accea nu v-a temeti sa dati propuneri pentru improvizare sau raport e greselile comise in site.</p>
                                                  </div>
                                             </div>

                                        </div>

                                   </div>
                              </div>
                              <!-- end row -->
                         </div>
                         <!-- end tab-pane -->
                    </div>
               </div>
          </div>
          <!-- end row -->

     </div>
     <!-- end container-fluid -->
</section>
<!-- faq end -->
