@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Categories";
}
<!-- title start -->
<section class="page-header-box bg-primary">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h3 class="page-header-title text-white">Categorii</h3>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">educonnect</a></li>
                        <li class="breadcrumb-item"><a href="#">Pagini</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Categorii</li>
                    </ol>
                </div>
            </div>
        </div> <!--end row-->
    </div> <!--end container-->
</section>
<!-- title end -->
<!-- blog start -->

<section class="section">
    <div class="container-fluid">
        <h2>Categorii:</h2>
        <div class="row">
            <div class="col-lg-8" style="display: flex; flex-wrap: wrap">
                <!--
            <div class="row">
                <div class="col-lg-6">
                    <div class="card overflow-hidden mb-4">
                        <div class="blog-img">
                            <img src="images/blog/img-1.jpg" alt="" class="img-fluid mx-auto d-block">
                        </div>
                        <div class="blog-content p-3 mx-3">
                            <h4 class="mt-0"><a href="blog-details.html" class="text-dark">Literatură</a></h4>
                            <p class="text-muted mb-0">Atât română cât și cea universală.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card overflow-hidden mb-4">
                        <div class="blog-img">
                            <img src="images/blog/img-2.jpg" alt="" class="img-fluid mx-auto d-block">
                        </div>
                        <div class="blog-content p-3 mx-3">
                            <h4 class="mt-0"><a href="blog-details.html" class="text-dark">Matematică</a></h4>
                            <p class="text-muted mb-0">Elemente teoretice împreună cu probleme rezolvate și explicate pe înțelesul tuturor</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
                <!--
            <div class="row">
                <div class="col-lg-6">
                    <div class="card overflow-hidden mb-4">
                        <div class="blog-img">
                            <img src="images/blog/img-3.jpg" alt="" class="img-fluid mx-auto d-block">
                        </div>
                        <div class="blog-content p-3 mx-3">
                            <h4 class="mt-0"><a href="blog-details.html" class="text-dark">Chimie</a></h4>
                            <p class="text-muted mb-0">Sfaturi pentru reacții chimice, formule, exerciții și experimente demonstrative</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card overflow-hidden mb-4">
                        <div class="blog-img">
                            <img src="images/blog/img-4.jpg" alt="" class="img-fluid mx-auto d-block">
                        </div>
                        <div class="blog-content p-3 mx-3">
                            <h4 class="mt-0">
                                <a href="blog-details.html" class="text-dark">Fizică</a></h5>
                                <p class="text-muted mb-0"> Învățare prin experimente, concepte teoretice și aplicații practice discutate detaliat</p>
                        </div>
                    </div>
                </div>
            </div>
            -->
                <!-- end row -->
                <!--
            <div class="row">
                <div class="col-lg-6">
                    <div class="card overflow-hidden mb-4">
                        <div class="blog-img">
                            <img src="images/blog/img-5.jpg" alt="" class="img-fluid mx-auto d-block">
                        </div>
                        <div class="blog-content p-3 mx-3">
                            <h4 class="mt-0"><a href="blog-details.html" class="text-dark">Programare</a></h4>
                            <p class="text-muted mb-0">Tutoriale pas cu pas, discuții despre erori și recomandări de proiecte practice</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card overflow-hidden mb-4">
                        <div class="blog-img">
                            <img src="images/blog/img-6.jpg" alt="" class="img-fluid mx-auto d-block">
                        </div>
                        <div class="blog-content p-3 mx-3">
                            <h4 class="mt-0"><a href="blog-details.html" class="text-dark">Istorie</a></h4>
                            <p class="text-muted mb-0">Analiza evenimentelor istorice, interpretări multiple și resurse pentru aprofundare</p>
                        </div>
                    </div>
                </div>
            </div>
            -->
                <!-- end row -->
                <!--
            <div class="row">
                <div class="col-lg-12">
                    <div class="mt-4">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-rounded justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="mdi mdi-chevron-left"></i>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="mdi mdi-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            -->
                <!-- end row -->
                @model List<EduConnect.Domain.Entities.Categ.Categ>
                @foreach (var item in Model)
                {
                    <div class="col-lg-6">
                        <div class="card overflow-hidden mb-4">
                            <div class="blog-img">
                                <img src="images/blog/img-1.jpg" alt="" class="img-fluid mx-auto d-block">
                            </div>
                            <div class="blog-content p-3 mx-3">
                                <h4 class="mt-0"><a href="@Url.Action("ViewCateg", "Categ", new {id = item.Id})" class="text-dark">@item.Name</a></h4>
                                <p class="text-muted mb-0">@item.Description</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-lg-4">
                <div class="blog-right-sidebar">
                    <div class="widget widget-search card mb-4">
                        <div class="card-body">
                            <form>
                                <input class="form-control" type="search" placeholder="Caută...">
                                <button class="search-button" type="submit">
                                    <i class="mdi mdi-magnify"></i>
                                </button>
                            </form>
                        </div>
                    </div>

                    <!--
                <div class="widget widget-categories card mb-4">
                    <div class="p-4">
                        <h4 class="widget-title mt-0">Categorii</h4>
                        <hr>
                        <ul class="list-unstyled mb-0">
                            <li><a href="#"><i class="pe-7s-car float-left mr-2 text-primary font-22"></i>Programare<span class="float-right">(40)</span></a></li>
                            <li><a href="#"><i class="pe-7s-camera float-left mr-2 text-primary font-22"></i>Chimie<span class="float-right">(08)</span></a></a></li>
                            <li><a href="#"><i class="pe-7s-users float-left mr-2 text-primary font-22"></i>Fizică<span class="float-right">(11)</span></a></a></li>
                            <li><a href="#"><i class="pe-7s-wine float-left mr-2 text-primary font-22"></i>Matematică<span class="float-right">(24)</span></a></a></li>
                        </ul>
                    </div>
                </div>

                <div class="widget widget-popular-post card mb-4">
                    <div class="p-4">
                        <h4 class="widget-title mt-0">Forumuri Populare</h4>
                        <hr>
                        <div>
                            <div class="popular-post media">
                                <img src="images/blog/img-1.jpg" class="img-fluid rounded mr-3" alt="">
                                <div class="media-body">
                                    <h5 class="mt-0 font-14"><a href="#" class="text-dark">Programarea Orientată pe Obiecte</a></h5>

                                </div>
                            </div>
                            <div class="popular-post media">
                                <img src="images/blog/img-2.jpg" class="img-fluid rounded mr-3" alt="">
                                <div class="media-body">
                                    <h5 class="mt-0 font-14"><a href="#" class="text-dark">Bazele Statului și Dreptul</a></h5>
                                </div>
                            </div>
                            <div class="popular-post media">
                                <img src="images/blog/img-3.jpg" class="img-fluid rounded mr-3" alt="">
                                <div class="media-body">
                                    <h5 class="mt-0 font-14"><a href="#" class="text-dark">Economia de Piață</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="widget card mb-4">
                    <div class="p-4">
                        <h4 class="widget-title mt-0">Arhivă</h4>
                        <hr>
                        <ul class="list-unstyled mb-0">
                            <li><a href="#">Mai <span class="float-right">(40)</span></a></li>
                            <li><a href="#">Aprilie<span class="float-right">(08)</span></a></a></li>
                            <li><a href="#">Martie<span class="float-right">(11)</span></a></a></li>
                            <li><a href="#">Februarie<span class="float-right">(24)</span></a></a></li>
                        </ul>
                    </div>
                </div>

                <div class="widget widget-tag-cloud card mb-4">
                    <div class="p-4">
                        <h4 class="widget-title mt-0">
                            Tags</h5>
                            <hr>
                            <div class="tagcloud">
                                <a href="#">Logo</a>
                                <a href="#">Business</a>
                                <a href="#">Corporate</a>
                                <a href="#">E-commerce</a>
                                <a href="#">Agency</a>
                                <a href="#">Responsive</a>
                            </div>
                    </div>
                </div>
                    -->
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</section>
<!-- blog end -->